<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Mateen James" />
    <link rel="shortcut icon" href="/favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <% if (activePage === '404') { %>
      <style>
      body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
      .error-template {padding: 40px 15px;text-align: center;}
      .error-actions {margin-top:15px;margin-bottom:15px;}
      .error-actions .btn { margin-right:10px; }
      </style>
    <% } %>
    <title>
      <%= title%>
    </title>
  </head>
  <body>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
      <div class="container">
        <div class="menu-bg-wrap">
          <div class="site-navigation">
            <a href="/" class="logo m-0 float-start">Property Basket</a>

            <ul
              class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
            >
              <li class="<%= activePage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
              <li class="has-children <%= activePage === 'properties' ? 'active' : '' %>">
                <a href="/properties">Properties</a>
                <ul class="dropdown">
                  <li><a href="/buy">Buy Property</a></li>
                  <li><a href="/sell">Sell Property</a></li>
                  <li class="has-children">
                    <a href="#">Account</a>
                    <ul class="dropdown">
                      <li><a href="/login">Login</a></li>
                      <li><a href="/register">Register</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="<%= activePage === 'services' ? 'active' : '' %>"><a href="/services">Services</a></li>
              <li class="<%= activePage === 'about' ? 'active' : '' %>"><a href="/about">About</a></li>
              <!-- <li class="<%= activePage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact Us</a></li> -->
              <% if (activePage !== '404') { %>
              <% if (user) { %>
                <% if (user.role === 'agent' || user.role === 'admin') { %>
                  <li class="<%= activePage === 'newproperty' ? 'active' : '' %>"><a href="/property/new" class="nav__btn--cta"><i class="fa-solid fa-paper-plane"></i> Submit A Property</a></li>
                <% } %>
                <li class="<%= activePage === 'logout' ? 'active' : '' %>"><a href="javascript:void(0);" id="nav__btn--logout" class="nav__btn--logout"><i class="fa-solid fa-sign-out"></i> Logout</a></li>
                <li class="<%= activePage === 'bookmarks' ? 'active' : '' %>"><a href="/bookmarks" class="bookmarks__link"><i class="fa-solid fa-bookmark"></i> Bookmarks</a></li>
              <% } else { %>
                <li class="<%= activePage === 'register' ? 'active' : '' %>"><a class="nav__btn--cta" href="/register"><i class="fa-solid fa-user-plus"></i> Register</a></li>
                <li class="<%= activePage === 'login' ? 'active' : '' %>"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
              <% } %>
              <% } %>
            </ul>

            <a
              href="#"
              class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
              data-toggle="collapse"
              data-target="#main-navbar"
            >
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

<!-- Content -->
<%- body %>



    <div class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="widget">
              <h2><a href="/" style="color: #00204a; text-decoration: none;">Land and Property Management</a></h2>
              <address>1, Lekki Nigeria.</address>
              <ul class="list-unstyled links">
                <li><a href="tel://+2348123456789">+234812-234-5678</a></li>
                <li><a href="tel://+2348123456789">+234812-234-5678</a></li>
                <li>
                  <a href="mailto:info@landandpropertymanagement.com">info@landandpropertymanagement.com</a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Sources</h3>
              <ul class="list-unstyled float-start links">
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/vision">Vision</a></li>
                <li><a href="/mission">Mission</a></li>
                <li><a href="/terms">Terms</a></li>
                <li><a href="/privacy">Privacy</a></li>
              </ul>
              <ul class="list-unstyled float-start links">
                <li><a href="/partners">Partners</a></li>
                <li><a href="/business">Business</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Creative</a></li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="widget">
              <h3>Links</h3>
              <ul class="list-unstyled links">
                <li><a href="#">Our Vision</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>

              <ul class="list-unstyled social">
                <li>
                  <a href="#"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-linkedin"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-pinterest"></span></a>
                </li>
                <li>
                  <a href="#"><span class="icon-dribbble"></span></a>
                </li>
              </ul>
            </div>
            <!-- /.widget -->
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <div class="row mt-5">
          <div class="col-12 text-center">
            <!-- 
              **==========
              NOTE: 
              Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
              **==========
            -->

            <p>
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              . 
              <a href="/">Land and Property Management</a>
            </p>
            <div>
              Developed by
              <a href="/" target="_blank">MDEV</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.site-footer -->

    <!-- Preloader -->
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <script src="/js/bundle/index.js" type="module"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/counter.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      function showSection(sectionNumber) {
    const sections = ['section1', 'section2', 'section3'];
    sections.forEach(section => document.getElementById(section).style.display = 'none');
    document.getElementById(`section${sectionNumber}`).style.display = 'block';
  }
    </script>
  </body>
</html>