<div class="container">
    <div class="page-inner">
      <div class="page-header">
        <h3 class="fw-bold mb-3">My Listings</h3>
        </ul>
      </div>
  
      <% if (noListings) { %>
        <p class="text-center">You haven't posted any listings yet.</p>
      <% } else { %>
  
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Published</h4>
            </div>
            <div class="card-body">
              <% if (publishedProperties.length === 0) { %>
                <p class="text-center">No published listings.</p>
              <% } else { %>
                <div class="row">
                  <% publishedProperties.forEach(property => { %>
                    <div class="col-md-4">
                      <div class="card mb-4">
                        <% if (property.images && property.images.length > 0) { %>
                          <img src="/img/properties/<%= property.images[0] %>" class="card-img-top" alt="<%= property.name %>">
                        <% } %>
                        <div class="card-body">
                          <h5 class="card-title"><%= property.name %></h5>
                          <p class="card-text">Views: <%= property.views %></p>
                          <a class="btn btn-label-success" href="/property/<%= property._id %>" class="btn btn-primary">View Details</a> 
                          <!-- <a class="btn btn-primary" href="/property/<%= property._id %>/edit">Edit</a>  -->
                          <!-- <button class="delete-property-btn btn btn-danger" data-property-id="<%= property._id %>"><i class="fas fa-trash"></i></button> -->
                        </div>
                      </div>
                    </div>
                  <% }) %>
                </div>
              <% } %>
            </div>
          </div>
        </div>
  
  
        
      <div class="col-md-12">
        <div class="card">
            <div class="card-header">
              <h4 class="card-title">Closed</h4>
            </div>
          <div class="card-body">
            <% if (closedProperties.length === 0) { %>
              <p class="text-center">No closed listings.</p>
            <% } else { %>
              <div class="row">
                <% closedProperties.forEach(property => { %>
                  <div class="col-md-4">
                    <div class="card mb-4">
                      <% if (property.images && property.images.length > 0) { %>
                        <img src="/img/properties/<%= property.images[0] %>" class="card-img-top" alt="<%= property.name %>">
                      <% } %>
                      <div class="card-body">
                        <h5 class="card-title"><%= property.name %></h5>
                        <p class="card-text">Views: <%= property.views %></p>
                        <a href="/property/<%= property._id %>" class="btn btn-label-success">View Details</a> 
                        <!-- <a class="btn btn-primary" href="/property/<%= property._id %>/edit">Edit</a>  -->
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>
            <% } %>
          </div>
        </div>
    </div>
  
      <% } %> </div>
  </div>